<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Daily Dish</title>
    <link href="img/logo2.png" rel="icon">
    <link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" >
    <link type="text/css" rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" >
    <link type="text/css" rel="stylesheet" href="scripts/external/isteven-angular-multiselect/isteven-multi-select.css" >
    <link type="text/css" rel="stylesheet" href="lib/angular-toastr/dist/angular-toastr.min.css" >
    <!--<link type="text/css" rel="stylesheet" href="css/external/bootstrap-social-gh-pages/bootstrap-social.css" >-->
    <link type="text/css" rel="stylesheet" href="lib/summernote/dist/summernote.css" >
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css"  />
    <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="dailydish" ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
      <div class="container">
        <div class="navbar-inner">
          <div class="navbar-header">
            <div class="navbar-brand">
              <img src="img/logo2.png" class="logo" />
            </div>
            <button class="navbar-toggle collapsed btn btn-primary" id="nav-btn" nav-btn-directive type="button" data-toggle="collapse" data-target="#navbar-main">
              MENU
              <!--<div id="navbar-hamburger">-->
                <!--MENU-->
              <!--</div>-->
              <!--<div id="navbar-close" class="hidden">-->
                <!--<i class="form-fa fa fa-times fa-lg"></i>-->
              <!--</div>-->
            </button>
          </div>
          <div class="collapse navbar-collapse" nav-directive id="navbar-main" >
            <ul class="nav navbar-nav">
              <li class="nav-item"  data-toggle="collapse" data-target="#navbar-main">
                <a ui-sref="dashboard">
                  <i class="main-nav-fa fa fa-home"></i> Dashboard
                </a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target="#navbar-main">
                <a ui-sref="questions">
                  <i class="main-nav-fa fa fa-question-circle"></i> Questions
                </a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target="#navbar-main">
                <a ui-sref="articles">
                  <i class="main-nav-fa fa fa-newspaper-o"></i> Articles
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item" data-toggle="collapse" data-target="#navbar-main">
                <a ui-sref="login" ng-if="!isAuthenticated()">
                  Login/Register
                </a>
                <a ui-sref="logout" ng-if="isAuthenticated()">
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div ui-view></div>

    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/satellizer/dist/satellizer.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="scripts/external/isteven-angular-multiselect/isteven-multi-select.js"></script>
    <script type="text/javascript" src="lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
    <script type="text/javascript" src="lib/angular-filepicker/dist/angular_filepicker.min.js"></script>
    <script type="text/javascript" src="lib/moment/moment.js"></script>
    <script type="text/javascript" src="lib/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="lib/matchHeight/dist/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="lib/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="lib/summernote/dist/summernote.min.js"></script>
    <script type="text/javascript" src="lib/angular-summernote/dist/angular-summernote.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/lodash/dist/lodash.core.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="scripts/controllers/articles.js"></script>
    <script type="text/javascript" src="scripts/controllers/articleTemplate.js"></script>
    <script type="text/javascript" src="scripts/controllers/dashboard.js"></script>
    <script type="text/javascript" src="scripts/controllers/login.js"></script>
    <script type="text/javascript" src="scripts/controllers/logout.js"></script>
    <script type="text/javascript" src="scripts/controllers/nav.js"></script>
    <script type="text/javascript" src="scripts/controllers/questions.js"></script>
    <script type="text/javascript" src="scripts/controllers/article.js"></script>
    <script type="text/javascript" src="scripts/controllers/question.js"></script>
    <script type="text/javascript" src="scripts/services.js"></script>
    <script type="text/javascript" src="scripts/Directives.js"></script>
  </body>
</html>
