<div class="container">
  <div ng-show="loading">
    <div class="loader">
    </div>
  </div>
  <div ng-show="!loading">
    <div class="well">
      <div class="page-header text-center">
        <h1>Write Your Own Article</h1>
        <p class="lead">Freelance sportswriting with the Daily Dish</p>
      </div>
      <form class="" ng-submit="submit()" method="post" name="articleForm">
        <fieldset>
          <legend class="text-center">
            <h3>Article Creation Template:</h3></legend>
          <div class="row vertical-align article-divider">
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <label for="select" id="select-label" class="pull-right control-label">
                Sports Included:
              </label>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-7">
              <div isteven-multi-select input-model="categories" output-model="tagOutput" helper-elements="all" button-label="icon name" item-label="icon name maker" tick-property="ticked" on-item-click="clicked(data)" id="select" required>
              </div>
            </div>
          </div>
          <div class="row article-divider" ng-show="showAdditionalTagInput">
            <div ng-repeat="a in selectedTags">
              <div class="form-group col-lg-4 col-xs-5">
                <div class="control-label text-center">
                  <strong class="article-label">{{a.main}} Teams:</strong>
                </div>
                <div class="text-center center-block">
                  <div isteven-multi-select input-model="a.teams" output-model="teamOutput" helper-elements="all" button-label="icon name" item-label="icon name maker" tick-property="ticked" on-item-click="teamClicked(data, a)" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row vertical-align article-divider">
            <div class="col-lg-4 col-xs-4">
              <label for="select" id="select-label" class="pull-right control-label">
                Title for Article:
              </label>
            </div>
            <div class="col-lg-8 col-xs-8">
              <input type="text" class="form-control" placeholder="Insert title here" id="title" ng-model="article.title" required>
            </div>
          </div>
          <div class="row vertical-align article-divider">
            <div class="col-lg-6 col-sm-6 col-xs-7">
              <label for="select" id="select-label" class="pull-right control-label">
                Upload Featured Image:
              </label>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-5">
              <button type="button" data-toggle="" id="filePickerBtn" class="btn btn-primary" ng-click="upload()">Upload</button>
            </div>
          </div>
          <div class="row article-divider" ng-if="article.picture">
            <div class="col-xs-12 text-center" style="margin-top:10px;" ng-if="article.picture">
              <img ng-src="{{article.picture.url | fpConvert: {filter:'sharpen'} }}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <textarea draggable="false" class="form-control" rows="15" id="textArea" ng-model="article.content" required></textarea>
              <span class="help-block">All articles are reviewed for qualitative content purposes.</span>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" ng-disabled="articleForm.$invalid" class="btn btn-lg btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
