<div class="container">
  <div ng-show="loading">
    <div class="loader"></div>
  </div>
  <div ng-show="!loading">
    <div class="row center-block text-center">
      <div class="board">
        <div class="board-inner">
          <ul class="nav nav-tabs custom-nav well-shadow">
            <div class="liner"></div>
            <li class="active">
              <a data-target="#all" data-toggle="tab" rel="tooltip" title="All Fantasy Sports">
                <span class="round-tabs primary">
                  ALL
                </span>
              </a>
            </li>
            <li>
              <a data-target="#nba" data-toggle="tab" rel="tooltip" title="Fantasy Basketball">
                <span class="round-tabs primary">
                  <i class="fa ion-ios-basketball fa-2x nav-fa"></i>
                </span>
              </a>
            </li>
            <li>
              <a data-target="#mlb" data-toggle="tab" rel="tooltip" title="Fantasy Baseball">
                <span class="round-tabs primary">
                  <i class="fa ion-ios-baseball fa-2x nav-fa"></i>
                </span>
              </a>
            </li>
            <li>
              <a data-target="#nfl" data-toggle="tab" rel="tooltip" title="Fantasy Football">
                <span class="round-tabs primary">
                  <i class="fa ion-ios-americanfootball fa-2x nav-fa"></i>
                </span>
              </a>
            </li>
            <li>
              <a ui-sref="articleTemplate" rel="tooltip" title="Post New Article">
                <span class="round-tabs primary">
                  <i class="fa fa-plus fa-2x nav-fa"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content clearfix" ng-hide="loading">
      <div class="tab-pane active" id="all">
        <div class="question-title page-header card well-shadow">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">All Fantasy Sports</h2>
          </legend>
        </div>
        <div ng-if="!articles.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No articles have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="articles.length">
          <div id="question-row-parent">
          </div>
          <div class="list-group">
            <a type="button" class="hidden-lg hidden-md hidden-sm" dir-paginate="article in articles | itemsPerPage:4" pagination-id="article.id" ui-sref="article({id: article._id})" style="text-decoration: none; border-radius: 10px;">
              <div class="box well article-well well-shadow" id="box-articles">
                <div class="box-icon" style="height:100%;">
                  <img class="img-circle" style="max-width: 100px;" ng-src="{{article.picture.url}}"></img>
                </div>
                <div class="info">
                  <div class="card effect8 row-well-xs" style="padding: 10px; width: 100%; margin: 15px 0px;">
                    <h4 class="h4 text-wrap no-margin">{{article.title}}</h4>
                    <small class="text-muted">
                      <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                    </small>
                  </div>
                  <div class="row is-table-row" style="margin-left: 0px; margin-right: 0px" match-height>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <figure>
                        <img class="thumbnail-q img-circle" ng-src="{{article.author.picture}}" alt="profile">
                        <figcaption class="text-center">
                          <strong class="text-q">{{article.author.username}}</strong>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-university fa-stack-1x"></i>
                     </span>
                      <p class="bold p-format">
                        Guru Rating:
                        <br />{{answer.author.rating || 0}}
                      </p>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-star fa-stack-1x"></i>
                     </span>
                      <p style="margin-left: 2px;" class="bold p-format">
                        Article Rating:
                        <br /><span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
            <a type="button" class="list-group-item hidden-xs" dir-paginate="article in articles | itemsPerPage:4" pagination-id="article.id" id="articles-container" ui-sref="article({id: article._id})">
              <div class="well well-shadow well-shadow" id="article-well">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="effect8 card">
                      <h4 class="h4" style="letter-spacing: 2px; text-transform: uppercase">{{article.title}}</h4>
                      <small class="text-muted">
                         <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                       </small>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom:10px;" class="hidden-xs" match-height>
                  <div class="col-sm-4 text-center equal">
                    <img class="img-rounded" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                  </div>
                  <div class="col-sm-4 equal">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-user fa-stack-1x"></i>
                         </span> Author: {{article.author.username}}
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-fire fa-stack-1x"></i>
                         </span> Article Rating: <span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-star fa-stack-1x"></i>
                         </span> Guru Rating: {{article.rating || '0'}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 equal" style="padding-top: 2.5%;">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                               <i class="fa fa-square-o fa-stack-2x"></i>
                               <i class="fa ion-ios-basketball fa-stack-1x"></i>
                             </span> Sports:
                          </li>
                          <li ng-repeat="sport in article.sports track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{sport}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                                 <i class="fa fa-square-o fa-stack-2x"></i>
                                 <i class="fa fa-users fa-stack-1x"></i>
                               </span> Teams:
                          </li>
                          <li ng-repeat="team in article.teams track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{team}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="nba">
        <div class="question-title page-header card well-shadow">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">Fantasy Basketball</h2>
          </legend>
        </div>
        <div ng-if="!nba.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No articles have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="nba.length">
          <div id="question-row-parent">
          </div>
          <div class="list-group">
            <a type="button" class="hidden-lg hidden-md hidden-sm" dir-paginate="article in nba | itemsPerPage:4" pagination-id="article.id" ui-sref="article({id: article._id})" style="text-decoration: none; border-radius: 10px;">
              <div class="box well article-well well-shadow" id="box-articles">
                <div class="box-icon" style="height:100%;">
                  <img class="img-circle" style="max-width: 100px;" ng-src="{{article.picture.url}}"></img>
                </div>
                <div class="info">
                  <div class="card effect8 row-well-xs" style="padding: 10px; width: 100%; margin: 15px 0px;">
                    <h4 class="h4 text-wrap no-margin">{{article.title}}</h4>
                    <small class="text-muted">
                      <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                    </small>
                  </div>
                  <div class="row is-table-row" style="margin-left: 0px; margin-right: 0px" match-height>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <figure>
                        <img class="thumbnail-q img-circle" ng-src="{{article.author.picture}}" alt="profile">
                        <figcaption class="text-center">
                          <strong class="text-q">{{article.author.username}}</strong>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-university fa-stack-1x"></i>
                     </span>
                      <p class="bold p-format">
                        Guru Rating:
                        <br />{{answer.author.rating || 0}}
                      </p>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-star fa-stack-1x"></i>
                     </span>
                      <p style="margin-left: 2px;" class="bold p-format">
                        Article Rating:
                        <br /><span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
            <a type="button" class="list-group-item hidden-xs" dir-paginate="article in nba | itemsPerPage:4" pagination-id="article.id" id="articles-container" ui-sref="article({id: article._id})">
              <div class="well well-shadow" id="article-well">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="effect8 card">
                      <h4 class="h4" style="letter-spacing: 2px; text-transform: uppercase">{{article.title}}</h4>
                      <small class="text-muted">
                         <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                       </small>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom:10px;" class="hidden-xs" match-height>
                  <div class="col-sm-4 text-center equal">
                    <img class="img-rounded" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                  </div>
                  <div class="col-sm-4 equal">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-user fa-stack-1x"></i>
                         </span> Author: {{article.author.username}}
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-fire fa-stack-1x"></i>
                         </span> Article Rating: <span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-star fa-stack-1x"></i>
                         </span> Guru Rating: {{article.rating || '0'}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 equal" style="padding-top: 2.5%;">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                               <i class="fa fa-square-o fa-stack-2x"></i>
                               <i class="fa ion-ios-basketball fa-stack-1x"></i>
                             </span> Sports:
                          </li>
                          <li ng-repeat="sport in article.sports track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{sport}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                                 <i class="fa fa-square-o fa-stack-2x"></i>
                                 <i class="fa fa-users fa-stack-1x"></i>
                               </span> Teams:
                          </li>
                          <li ng-repeat="team in article.teams track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{team}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="mlb">
        <div class="question-title page-header card well-shadow">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">Fantasy Baseball</h2>
          </legend>
        </div>
        <div ng-if="!mlb.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No articles have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="mlb.length">
          <div id="question-row-parent">
          </div>
          <div class="list-group">
            <a type="button" class="hidden-lg hidden-md hidden-sm" dir-paginate="article in mlb | itemsPerPage:4" pagination-id="article.id" ui-sref="article({id: article._id})" style="text-decoration: none; border-radius: 10px;">
              <div class="box well article-well well-shadow" id="box-articles">
                <div class="box-icon" style="height:100%;">
                  <img class="img-circle" style="max-width: 100px;" ng-src="{{article.picture.url}}"></img>
                </div>
                <div class="info">
                  <div class="card effect8 row-well-xs" style="padding: 10px; width: 100%; margin: 15px 0px;">
                    <h4 class="h4 text-wrap no-margin">{{article.title}}</h4>
                    <small class="text-muted">
                      <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                    </small>
                  </div>
                  <div class="row is-table-row" style="margin-left: 0px; margin-right: 0px" match-height>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <figure>
                        <img class="thumbnail-q img-circle" ng-src="{{article.author.picture}}" alt="profile">
                        <figcaption class="text-center">
                          <strong class="text-q">{{article.author.username}}</strong>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-university fa-stack-1x"></i>
                     </span>
                      <p class="bold p-format">
                        Guru Rating:
                        <br />{{answer.author.rating || 0}}
                      </p>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-star fa-stack-1x"></i>
                     </span>
                      <p style="margin-left: 2px;" class="bold p-format">
                        Article Rating:
                        <br /><span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
            <a type="button" class="list-group-item hidden-xs" dir-paginate="article in mlb | itemsPerPage:4" pagination-id="article.id" id="articles-container" ui-sref="article({id: article._id})">
              <div class="well well-shadow" id="article-well">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="effect8 card">
                      <h4 class="h4" style="letter-spacing: 2px; text-transform: uppercase">{{article.title}}</h4>
                      <small class="text-muted">
                         <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                       </small>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom:10px;" class="hidden-xs" match-height>
                  <div class="col-sm-4 text-center equal">
                    <img class="img-rounded" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                  </div>
                  <div class="col-sm-4 equal">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-user fa-stack-1x"></i>
                         </span> Author: {{article.author.username}}
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-fire fa-stack-1x"></i>
                         </span> Article Rating: <span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-star fa-stack-1x"></i>
                         </span> Guru Rating: {{article.rating || '0'}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 equal" style="padding-top: 2.5%;">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                               <i class="fa fa-square-o fa-stack-2x"></i>
                               <i class="fa ion-ios-basketball fa-stack-1x"></i>
                             </span> Sports:
                          </li>
                          <li ng-repeat="sport in article.sports track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{sport}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                                 <i class="fa fa-square-o fa-stack-2x"></i>
                                 <i class="fa fa-users fa-stack-1x"></i>
                               </span> Teams:
                          </li>
                          <li ng-repeat="team in article.teams track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{team}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="nfl">
        <div class="question-title page-header card well-shadow">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">Fantasy Football</h2>
          </legend>
        </div>
        <div ng-if="!nfl.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No articles have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="nfl.length">
          <div id="question-row-parent">
          </div>
          <div class="list-group">
            <a type="button" class="hidden-lg hidden-md hidden-sm" ndir-paginate="article in nfl | itemsPerPage:4" pagination-id="article.id" ui-sref="article({id: article._id})" style="text-decoration: none; border-radius: 10px;">
              <div class="box well article-well well-shadow" id="box-articles">
                <div class="box-icon" style="height:100%;">
                  <img class="img-circle" style="max-width: 100px;" ng-src="{{article.picture.url}}"></img>
                </div>
                <div class="info">
                  <div class="card effect8 row-well-xs" style="padding: 10px; width: 100%; margin: 15px 0px;">
                    <h4 class="h4 text-wrap no-margin">{{article.title}}</h4>
                    <small class="text-muted">
                      <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                    </small>
                  </div>
                  <div class="row is-table-row" style="margin-left: 0px; margin-right: 0px" match-height>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <figure>
                        <img class="thumbnail-q img-circle" ng-src="{{article.author.picture}}" alt="profile">
                        <figcaption class="text-center">
                          <strong class="text-q">{{article.author.username}}</strong>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-university fa-stack-1x"></i>
                     </span>
                      <p class="bold p-format">
                        Guru Rating:
                        <br />{{answer.author.rating || 0}}
                      </p>
                    </div>
                    <div class="col-xs-4 well well-sm well-shadow text-center equal" style="background-color: #fff">
                      <span class="fa-stack fa-fw">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-star fa-stack-1x"></i>
                     </span>
                      <p style="margin-left: 2px;" class="bold p-format">
                        Article Rating:
                        <br /><span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
            <a type="button" class="list-group-item hidden-xs" dir-paginate="article in nfl | itemsPerPage:4" pagination-id="article.id" id="articles-container" ui-sref="article({id: article._id})">
              <div class="well well-shadow" id="article-well">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="effect8 card">
                      <h4 class="h4" style="letter-spacing: 2px; text-transform: uppercase">{{article.title}}</h4>
                      <small class="text-muted">
                         <i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                       </small>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom:10px;" class="hidden-xs" match-height>
                  <div class="col-sm-4 text-center equal">
                    <img class="img-rounded" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                  </div>
                  <div class="col-sm-4 equal">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-user fa-stack-1x"></i>
                         </span> Author: {{article.author.username}}
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-fire fa-stack-1x"></i>
                         </span> Article Rating: <span ng-if="!isEmpty" ng-repeat="i in getNumber(article) track by $index"><i class="fa fa-star star-fa"></i></span><span ng-if="isEmpty">N/A</span>
                      </div>
                      <div class="list-group-item">
                        <span class="fa-stack fa-sm">
                           <i class="fa fa-square-o fa-stack-2x"></i>
                           <i class="fa fa-star fa-stack-1x"></i>
                         </span> Guru Rating: {{article.rating || '0'}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 equal" style="padding-top: 2.5%;">
                    <div class="list-group" id="home-card">
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                               <i class="fa fa-square-o fa-stack-2x"></i>
                               <i class="fa ion-ios-basketball fa-stack-1x"></i>
                             </span> Sports:
                          </li>
                          <li ng-repeat="sport in article.sports track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{sport}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="list-group-item ellipsis" style="font-size: 14px;">
                        <ul class="list-inline" style="margin-left: -3px; margin-bottom: 0px;">
                          <li>
                            <span class="fa-stack fa-sm">
                                 <i class="fa fa-square-o fa-stack-2x"></i>
                                 <i class="fa fa-users fa-stack-1x"></i>
                               </span> Teams:
                          </li>
                          <li ng-repeat="team in article.teams track by $index" style="margin-left: -8px;">
                            <span class="label label-primary" id="custom-label">{{team}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <dir-pagination-controls template-url="../lib/angularUtils-pagination/dirPagination.tpl.html" pagination-id="article.id"></dir-pagination-controls>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
