<div class="container">
  <div class="well">
    <i class="fa ion-close-round fa-2x pull-right"></i>
    <div class="page-header text-center" style="padding-bottom: 0px;">
      <h2>{{article.title}}</h2>
      <p style="font-style: italic">
        Posted: {{article.date | amCalendar}} <br />
      </p>
      <p class="lead">
        Author: {{article.author.username}}
      </p>
    </div>
    <div class="row">

      <div class="col-xs-12 border-photo">
        <img class="img-responsive center-block img-rounded"
        ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:400, h:200} }}"
        alt="{{article.title}}" />
      </div>
      <div class="col-xs-12" style="margin-top: 20px; border-bottom: 2px groove #2c3e50;">
        <div class="list-group" style="font-size: 1.2em">
          <div class="list-group-item">
            <ul class="list-inline">
              <li>
                <span class="fa-stack fa-sm">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa ion-ios-basketball fa-stack-1x"></i>
                </span> Sports:
              </li>
              <li ng-repeat="sport in article.sports">
                <span class="label label-primary">{{sport}}</span>
              </li>
            </ul>
          </div>
          <div class="list-group-item">
            <ul class="list-inline">
              <li>
                <span class="fa-stack fa-sm">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-users fa-stack-1x"></i>
                </span> Teams:
              </li>
              <li ng-repeat="team in article.teams">
                <span class="label label-primary">{{team}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 20px;">
      {{article.content}}
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Comments
    </div>
    <div class="panel-body">
      <ul class="chat list-group">
        <li class="left clearfix list-group-item" ng-repeat="comment in article.comments">
          <div ng-show="!article.comments" class="well">
            No comments to show here.
          </div>
          <
        </li>
      </ul>
    </div>
  </div>
</div>
