<div class="container">
  <div ng-show="loading">
    <div class="loader"></div>
  </div>
  <div ng-show="!loading">
    <div class="text-left" style="padding-bottom: 10px;">
      <a type="button" class="btn btn-sm btn-primary" ui-sref="articles"><i class="form-fa fa fa-chevron-circle-left fa-fw"></i> Back</a>
    </div>
    <div class="box">
      <div class="box-icon">
        <img class="img-circle" style="height: 100%; width: 100%;" ng-src="{{article.author.picture}}"></img>
      </div>
      <div class="info text-center">
        <h4 style="font-size: 22px;">By: {{article.author.username}}</h4>
        <h4 class="page-header">{{article.title}}</h4>
        <div class="col-xs-12">
          <div class="col-xs-4 well well-sm well-shadow">
            <span class="fa-stack fa-sm">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-university fa-stack-1x" style="margin-left: 0.5px;"></i>
            </span>
            <p>Guru Rating: {{article.author.rating || 0}}</p>
          </div>
          <div class="col-xs-4 well well-sm well-shadow">
            <span class="fa-stack fa-sm">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-fire fa-stack-1x" style="margin-left: 0.5px;"></i>
            </span>
            <p>Article Rating: {{article.rating || 'N/A'}}</p>
          </div>
          <div class="col-xs-4 well well-sm well-shadow">
            <span class="fa-stack fa-sm">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x" style="margin-left: 0.5px;"></i>
            </span>
            <p>Author Rating: {{article.author.authorRating || 'N/A'}}</p>
          </div>
        </div>
        <p class="text-muted" style="text-align: center"><i class="fa fa-calendar fa-fw"></i> {{article.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}</p>
        <div class="content">
          <div class="well ">
            <div class="row">
              <img class="img-responsive center-block img-rounded" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:400, h:200} }}" alt="{{article.title}}" />
            </div>
            <div class="list-group card-shadow" style="margin-top: 10px;">
              <div class="list-group-item">
                <ul class="list-inline text-left">
                  <li>
                    <span class="fa-stack fa-sm">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa ion-ios-basketball fa-stack-1x"></i>
                    </span> Sports:
                  </li>
                  <li ng-repeat="sport in article.sports">
                    <span class="label label-primary">{{sport}}</span>
                  </li>
                </ul>
              </div>
              <div class="list-group-item">
                <ul class="list-inline text-left">
                  <li>
                    <span class="fa-stack fa-sm">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-users fa-stack-1x"></i>
                    </span> Teams:
                  </li>
                  <li ng-repeat="team in article.teams">
                    <span class="label label-primary">{{team}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-q panel-q-white post panel-q-shadow" style="background-color: #FFFFFF; margin-top: 10px;">
              <div class="post-description">
                <p>
                  {{article.content}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:10px;">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Article Rating
          </div>
          <div class="panel-body text-center">
            <legend>
              Rate This Article
            </legend>
            <div class="stars">
              <form>
                <input class="star star-5" ng-model="stars" ng-value="5" ng-change="changeStar()" id="star-5" type="radio" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" ng-model="stars" ng-value="4" ng-change="changeStar()" id="star-4" type="radio" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" ng-model="stars" ng-value="3" ng-change="changeStar()" id="star-3" type="radio" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" ng-model="stars" ng-value="2" ng-change="changeStar()" id="star-2" type="radio" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" ng-model="stars" ng-value="1" ng-change="changeStar()" id="star-1" type="radio" name="star" />
                <label class="star star-1" for="star-1"></label>
              </form>
              <div id="starContext">

              </div>
              <button type="button" class="btn btn-primary" ng-click="rateArticle()">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Comments
            <div class="pull-right">
              <a type="button" class="btn btn-sm btn-default" ng-click="openCommentModal()" style="margin-top: -5px;">Add New</a>
            </div>
          </div>
          <div class="panel-body">
            <ul class="media-list">
              <li class="answer-media media" ng-repeat="comment in article.comments">
                <div class="well hidden-lg hidden-md hidden-sm" style="padding: 5px 10px; margin-bottom: 0px;">
                  <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <figure>
                      <div class="pull-left" style="margin-right: 10px;" href="javascript:void(0)">
                        <img class="thumbnail-q img-circle" ng-src="{{comment.author.picture}}" alt="profile">
                        <figcaption class="text-center">
                          <strong class="text-q">{{comment.author.username}}</strong>
                        </figcaption>
                      </div>
                    </figure>
                    <div class="pull-left" id="fish">
                      <p class="">
                        <i class="fa fa-university fa-fw"></i> Guru Rating: {{comment.author.rating || 0}}
                      </p>
                      <p class="">
                        <i class="fa fa-fire fa-lg"></i> Author Rating:
                        <span class="label label-primary">{{comment.author.authorRating || 'N/A'}}</span>
                      </p>
                      <ul class="list-inline" id="comment-list">
                        <li style="padding-right: 0px;">
                          <span class="badge">{{comment.likes || 0}}</span>
                          <span class="text-success fa fa-thumbs-o-up fa-fw glyphicon-align-right" style="vertical-align:middle; width:15.4375px" ng-click="addLikeToComment(comment)"></span>
                        </li>
                        <li>
                          <span class="badge">{{comment.dislikes || 0}}</span>
                          <span class="text-danger fa fa-thumbs-o-down fa-fw glyphicon-align-right" style="vertical-align:middle; width:15.4375px" ng-click="addDislikeToComment(comment)"></span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-12 panel-footer" style="padding: 0px;">
                      <blockquote>
                        {{comment.content}}
                      </blockquote>
                      <div class="col-xs-12 panel-footer" style="padding: 0px;"></div>
                      <div class="chat text-center">
                        <small class="text-muted">
                          <i class="fa fa-calendar fa-fw"></i> {{comment.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="well hidden-xs" style="padding: 5px 10px; margin-bottom: 0px;">
                  <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <figure>
                      <div class="pull-left" style="margin-right: 10px;" href="javascript:void(0)">
                        <img class="thumbnail-q img-circle" ng-src="{{comment.author.picture}}" alt="profile">
                        <figcaption class="text-center">
                          <strong class="text-q">{{comment.author.username}}</strong>
                        </figcaption>
                      </div>
                    </figure>
                    <div class="pull-left" id="fish-lg">
                      <p class="">
                        <i class="fa fa-university fa-lg"></i> Guru Rating:
                        <span class="label label-primary">{{comment.author.rating || 0}}</span>
                      </p>
                      <p class="">
                        <i class="fa fa-fire fa-lg"></i> Author Rating:
                        <span class="label label-primary">{{comment.author.authorRating || 'N/A'}}</span>
                      </p>
                      <ul class="list-inline" id="comment-list">
                        <li style="padding-right: 0px;">
                          <span class="badge">{{comment.likes || 0}}</span>
                          <span class="text-success fa fa-thumbs-o-up fa-fw glyphicon-align-right" style="vertical-align:middle; width:15.4375px" ng-click="addLikeToComment(comment)"></span>
                        </li>
                        <li>
                          <span class="badge">{{comment.dislikes || 0}}</span>
                          <span class="text-danger fa fa-thumbs-o-down fa-fw glyphicon-align-right" style="vertical-align:middle; width:15.4375px" ng-click="addDislikeToComment(comment)"></span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-12 panel-footer" style="padding: 0px;">
                      <blockquote>
                        {{comment.content}}
                      </blockquote>
                      <div class="col-xs-12 panel-footer" style="padding: 0px;"></div>
                      <div class="chat text-center">
                        <small class="text-muted">
                          <i class="fa fa-calendar fa-fw"></i> {{comment.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="commentModal.html">
  <div class="modal-header" style="border: 0">
    <h3 class="modal-title text-center">Add Comment:</h3>
  </div>
  <div class="modal-body" style="background-color: #2c3e50">
    <div class="container-fluid">
      <form method="post" name="commentForm">
        <div class="col-xs-12">
          <div class="well well-shadow hidden-xs">
            <div class="media">
              <div class="col-xs-2">
                <figure>
                  <div class="pull-left">
                    <img class="img-circle img-q" ng-src="{{user.picture}}" style="margin-right: 0px;" />
                    <figcaption class="text-center">
                      <strong class="text-success ">{{user.username}}</strong>
                    </figcaption>
                  </div>
                </figure>
              </div>
              <div class="col-xs-10">
                <textarea class="form-control" rows="3" ng-model="comment.content" required></textarea>
              </div>
            </div>
          </div>
          <div class="well well-shadow hidden-lg hidden-md hidden-sm">
            <div class="media hidden-lg hidden-md hidden-sm">
              <div class="col-xs-12">
                <figure>
                  <div class="text-center">
                    <img class="img-circle img-q" ng-src="{{user.picture}}" style="margin-right: 0px;" />
                    <figcaption class="text-center">
                      <strong class="text-success ">{{user.username}}</strong>
                    </figcaption>
                  </div>
                </figure>
              </div>
              <div class="col-xs-12">
                <textarea class="form-control" rows="3" ng-model="comment.content" required></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="submitComment()" ng-disabled="commentForm.$invalid" class="btn btn-info btn-lg">Submit</button>
    <button class="btn btn-danger btn-lg" ng-click="cancel()">Cancel</button>
  </div>
  </div>
</script>
