<div class="container">
  <ul class="nav nav-tabs text-center">
    <li class="active">
      <a data-target="#all" data-toggle="tab">All</a>
    </li>
    <li>
      <a data-target="#nba" data-toggle="tab">NBA</a>
    </li>
    <li>
      <a data-target="#mlb" data-toggle="tab">MLB</a>
    </li>
    <li>
      <a data-target="#nfl" data-toggle="tab">NFL</a>
    </li>
    <li class="pull-right">
      <button class="btn btn-primary" ui-sref="articleTemplate" type="button">Create New</button>
    </li>
  </ul>
  <div ng-show="loading">
    <div class="loader"></div>
  </div>
  <div class="tab-content clearfix" ng-hide="loading">
    <div class="tab-pane active" id="all">
      <div class="list-group">
        <a type="button" class="list-group-item" ng-repeat="article in articles track by $index" id="testRow" ui-sref="article({id: article._id})">
          <div class="well" id="article-well" >

            <div class="row">
              <div class="col-xs-12">
                <div class="card" id="header-card">
                  <h4>{{article.title}}</h4>
                  <small class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> {{article.date | amCalendar}}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 text-center hidden-xs">
                <img class="img-rounded img-responsive card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" style="margin-top: -5px;" />
              </div>
              <div class="text-center">
                <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                  <img class="img-rounded card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                </div>
              </div>
              <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item">
                      <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-hashtag fa-fw"></i>Comments: {{article.comments.length || 0}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-star fa-fw"></i>Rating: {{article.rating || 0}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa ion-ios-basketball"></i> Sports: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="sport in article.sports track by $index">
                          <span class="label label-primary" id="custom-label">{{sport}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="team in article.teams track by $index">
                          <span class="label label-primary" id="custom-label">{{team}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item">
                    <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-hashtag fa-fw"></i> Comments: {{article.comments.length || 0}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-star fa-fw"></i> Rating: {{article.rating || 0}}
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa ion-ios-basketball"></i> Sports: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="sport in article.sports track by $index">
                        <span class="label label-primary" id="custom-label">{{sport}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="team in article.teams track by $index">
                        <span class="label label-primary" id="custom-label">{{team}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="tab-pane" id="nba">
      <div class="list-group">
        <a type="button" class="list-group-item" ng-repeat="article in nba track by $index" id="testRow" ui-sref="article({id: article._id})">
          <div class="well" id="article-well" >

            <div class="row">
              <div class="col-xs-12">
                <div class="card" id="header-card">
                  <h4>{{article.title}}</h4>
                  <small class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> {{article.date | amCalendar}}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 text-center hidden-xs">
                <img class="img-rounded img-responsive card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" style="margin-top: -5px;" />
              </div>
              <div class="text-center">
                <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                  <img class="img-rounded card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                </div>
              </div>
              <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item">
                      <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-hashtag fa-fw"></i>Comments: {{article.comments.length || 0}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-star fa-fw"></i>Rating: {{article.rating || 0}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa ion-ios-basketball"></i> Sports: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="sport in article.sports track by $index">
                          <span class="label label-primary" id="custom-label">{{sport}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="team in article.teams track by $index">
                          <span class="label label-primary" id="custom-label">{{team}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item">
                    <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-hashtag fa-fw"></i> Comments: {{article.comments.length || 0}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-star fa-fw"></i> Rating: {{article.rating || 0}}
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa ion-ios-basketball"></i> Sports: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="sport in article.sports track by $index">
                        <span class="label label-primary" id="custom-label">{{sport}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="team in article.teams track by $index">
                        <span class="label label-primary" id="custom-label">{{team}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="tab-pane" id="mlb">
      <div class="list-group">
        <a type="button" class="list-group-item" ng-repeat="article in mlb track by $index" id="testRow" ui-sref="article({id: article._id})">
          <div class="well" id="article-well" >

            <div class="row">
              <div class="col-xs-12">
                <div class="card" id="header-card">
                  <h4>{{article.title}}</h4>
                  <small class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> {{article.date | amCalendar}}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 text-center hidden-xs">
                <img class="img-rounded img-responsive card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" style="margin-top: -5px;" />
              </div>
              <div class="text-center">
                <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                  <img class="img-rounded card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                </div>
              </div>
              <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item">
                      <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-hashtag fa-fw"></i>Comments: {{article.comments.length || 0}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-star fa-fw"></i>Rating: {{article.rating || 0}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa ion-ios-basketball"></i> Sports: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="sport in article.sports track by $index">
                          <span class="label label-primary" id="custom-label">{{sport}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="team in article.teams track by $index">
                          <span class="label label-primary" id="custom-label">{{team}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item">
                    <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-hashtag fa-fw"></i> Comments: {{article.comments.length || 0}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-star fa-fw"></i> Rating: {{article.rating || 0}}
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa ion-ios-basketball"></i> Sports: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="sport in article.sports track by $index">
                        <span class="label label-primary" id="custom-label">{{sport}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="team in article.teams track by $index">
                        <span class="label label-primary" id="custom-label">{{team}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="tab-pane" id="nfl">
      <div class="list-group">
        <a type="button" class="list-group-item" ng-repeat="article in nfl track by $index" id="testRow" ui-sref="article({id: article._id})">
          <div class="well" id="article-well" >

            <div class="row">
              <div class="col-xs-12">
                <div class="card" id="header-card">
                  <h4>{{article.title}}</h4>
                  <small class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> {{article.date | amCalendar}}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 text-center hidden-xs">
                <img class="img-rounded img-responsive card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" style="margin-top: -5px;" />
              </div>
              <div class="text-center">
                <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                  <img class="img-rounded card-image" ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{article.title}}" />
                </div>
              </div>
              <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item">
                      <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-hashtag fa-fw"></i>Comments: {{article.comments.length || 0}}
                    </div>
                    <div class="list-group-item" >
                      <i class="fa fa-star fa-fw"></i>Rating: {{article.rating || 0}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="list-group" id="card">
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa ion-ios-basketball"></i> Sports: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="sport in article.sports track by $index">
                          <span class="label label-primary" id="custom-label">{{sport}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="list-group-item text-center" style="padding-top: 3px;">
                      <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                      <ul class="next-line list-inline" >
                        <li ng-repeat="team in article.teams track by $index">
                          <span class="label label-primary" id="custom-label">{{team}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item">
                    <i class="fa fa-user fa-fw"></i> Author: {{article.author.username}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-hashtag fa-fw"></i> Comments: {{article.comments.length || 0}}
                  </div>
                  <div class="list-group-item" >
                    <i class="icon fa fa-star fa-fw"></i> Rating: {{article.rating || 0}}
                  </div>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="list-group" id="card">
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa ion-ios-basketball"></i> Sports: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="sport in article.sports track by $index">
                        <span class="label label-primary" id="custom-label">{{sport}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="list-group-item text-center" style="padding-top: 3px;">
                    <i class="fa fa-users" style="font-size: 18px;"></i> Teams: <br />
                    <ul class="next-line list-inline" >
                      <li ng-repeat="team in article.teams track by $index">
                        <span class="label label-primary" id="custom-label">{{team}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
