<div class="container">
  <div class="text-left" style="padding-bottom: 10px;">
    <a type="button" class="btn btn-sm btn-primary" ui-sref="articles"><i class="form-fa fa fa-chevron-circle-left fa-fw"></i> Back</a>
  </div>
  <div ng-show="loading">
    <div class="loader"></div>
  </div>
  <div ng-show="!loading">
    <div class="well">
      <div class="page-header text-center" style="padding-bottom: 0px; margin-top: 0px;">
        <div class="effect8 card">
          <h3 style="margin-bottom:21px;">{{article.title}}</h3>
          <p class="lead">
            Author: {{article.author.username}}
          </p>
          <p style="font-style=italic">
            <span class="glyphicon glyphicon-time"></span> {{article.date | amCalendar}}
          </p>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12 border-photo">
          <img class="img-responsive center-block img-rounded"
          ng-src="{{article.picture.url | fpConvert: {filter:'sharpen', w:400, h:200} }}"
          alt="{{article.title}}" />
        </div>
        <div class="col-xs-12" style="margin-top: 20px; border-bottom: 2px groove #2c3e50;">
          <div class="list-group card-shadow" style="font-size: 1.2em;">
            <div class="list-group-item">
              <ul class="list-inline">
                <li>
                  <span class="fa-stack fa-sm">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa ion-ios-basketball fa-stack-1x"></i>
                  </span> Sports:
                </li>
                <li ng-repeat="sport in article.sports">
                  <span class="label label-primary">{{sport}}</span>
                </li>
              </ul>
            </div>
            <div class="list-group-item">
              <ul class="list-inline">
                <li>
                  <span class="fa-stack fa-sm">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x"></i>
                  </span> Teams:
                </li>
                <li ng-repeat="team in article.teams">
                  <span class="label label-primary">{{team}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-q panel-q-white post panel-q-shadow" style="background-color: #FFFFFF; margin-top: 10px;">
          <div class="post-description">
            <p>
              {{article.content}}
            </p>
          </div>
      </div>
    </div>
    <div class="col-xs-12" style="padding-top: 10px;">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Comments
          <div class="pull-right">
            <button type="button" class="btn btn-sm btn-default" style="margin-top: -5px;">Post New</button>
          </div>
        </div>
        <div class="panel-body">
          <ul class="media-list">
            <li class="media" ng-repeat="comment in article.comments">
              <div class="well" style="padding: 5px 10px;">
                <a class="pull-left" href="#">
                  <img class="img-q img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                </a>
                <div class="media-body">
                  <span class="text-muted pull-right">
                    <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{comment.date | amCalendar}}</small>
                  </span>
                  <strong class="text-success">Marco </strong>
                  <small class=""><i class="fa fa-star fa-fw"></i> Guru Rating: 0</small>
                  <p>
                    Blah blah blah blah.. just typing random text to test the paragraph block for answers to each of the fantasy questions posted by users so this is just meaningless text.
                  </p>
                  <div class="panel-footer" style="padding: 5px 5px;">
                    <ul class="list-inline hidden-xs">
                      <button type="button" class="btn btn-sm btn-primary">
                        <span class="badge">42</span>
                        <span class="form-fa fa fa-thumbs-o-up fa-lg glyphicon-align-right"></span>
                      </button>
                      <button type="button" class="btn btn-sm btn-primary">
                        <span class="badge">42</span>
                        <span class="form-fa fa fa-thumbs-o-down fa-lg glyphicon-align-right"></span>
                      </button>
                    </ul>
                    <ul class="list-inline hidden-lg hidden-md hidden-sm">
                      <button type="button" class="btn btn-sm btn-primary">
                        <span class="badge">42</span>
                        <span class="form-fa fa fa-thumbs-o-up fa-fw glyphicon-align-right"></span>
                      </button>
                      <button type="button" class="btn btn-sm btn-primary">
                        <span class="badge">42</span>
                        <span class="form-fa fa fa-thumbs-o-down fa-fw glyphicon-align-right"></span>
                      </button>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
