<div class="container page-content-wrapper">
    <div ng-if="loading">
        <div class="loader"></div>
    </div>
    <div ng-if="!loading">
        <div class="row">
            <!--<div class="col-xs-6">-->
                <!--<div class="well well-sm content-shadow inline-media-listitem">-->
                    <!--<div class="media-left">-->
                        <!--<img class="media-object img-circle" style="max-height: 50px; max-width: 50px; border:1px solid #eee;" ng-src="{{user.picture}}">-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                        <!--<h4 class="media-heading" style="display: block; text-transform: capitalize; font-size: 19px; color: #2d2e2e;">{{user.username}}</h4>-->
                        <!--<h4 class="media-heading " style="display: block; font-size: 19px; color: #2d2e2e;">{{user.email}}</h4>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <div class="col-xs-12 col-md-6">
                <div class="panel panel-primary dash-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-user-circle-o fa-fw form-fa"></i> Profile</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="custom-media" style="overflow: hidden;">
                                    <div style="display:inline;">
                                        <label style="margin-top: 5px;">Avatar</label>
                                    </div>
                                    <div style="display:inline; float: right;">
                                        <img class=" img-circle" style="max-height: 50px; max-width: 50px; border:1px solid #eee;" ng-src="{{user.picture}}">
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item ellipsis">
                                <div class="custom-media" style="overflow: hidden;">
                                    <div style="display:inline; margin-right: 10px;">
                                        <label style="margin-top: 5px;">Username: </label>
                                    </div>
                                    <div style="display:inline; float:right">
                                        {{user.username}}
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item ellipsis">
                                <div class="custom-media" style="overflow: hidden;">
                                    <div style="display:inline; margin-right: 10px;">
                                        <label style="margin-top: 5px;">Email: </label>
                                    </div>
                                    <div style="display:inline; float:right">
                                        {{user.email}}
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-primary dash-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="form-fa fa fa-bar-chart fa-fw"></i> DailyDish Stats
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="list-group ">
                            <div class="list-group-item ellipsis">
                                <div class="media-body">
                                    <span class="fa-stack fa-sm">
                                      <i class="fa fa-square-o fa-stack-2x"></i>
                                      <i class="fa fa-question-circle fa-stack-1x"></i>
                                    </span> Questions Posted:
                                </div>
                                <div class="media-right">
                                    <span class="item-right badge badge-default">{{user.questions.length}}</span>
                                </div>
                            </div>
                            <div class="list-group-item ellipsis">
                                <div class="media-body">
                                    <span class="fa-stack fa-sm">
                                      <i class="fa fa-square-o fa-stack-2x"></i>
                                      <i class="fa fa-line-chart fa-stack-1x"></i>
                                    </span> Questions Answered:
                                </div>
                                <div class="media-right">
                                    <span class="item-right badge badge-default">{{user.answers.length}}</span>
                                </div>
                            </div>
                            <div class="list-group-item ellipsis">
                                <div class="media-body">
                                    <span class="fa-stack fa-sm">
                                      <i class="fa fa-square-o fa-stack-2x"></i>
                                      <i class="fa fa-university fa-stack-1x"></i>
                                    </span> Guru Rating:
                                </div>
                                <div class="media-right">
                                    <span class="item-right badge badge-default">{{user.rating || 'N/A'}}</span>
                                </div>
                            </div>
                            <div class="list-group-item ellipsis">
                                <div class="media-body">
                                    <span class="fa-stack fa-sm">
                                      <i class="fa fa-square-o fa-stack-2x"></i>
                                      <i class="fa fa-certificate fa-stack-1x"></i>
                                    </span> Articles Posted:
                                </div>
                                <div class="media-right">
                                    <span class="item-right badge badge-default">{{user.articles.length || '0'}}</span>
                                </div>
                            </div>
                            <div class="list-group-item ellipsis">
                                <div class="media-body">
                                    <span class="fa-stack fa-sm">
                                      <i class="fa fa-square-o fa-stack-2x"></i>
                                      <i class="fa fa-star fa-stack-1x"></i>
                                    </span> Author Rating:
                                </div>
                                <div class="media-right">
                                    <span class="item-right badge badge-default">{{user.authorRating || 'N/A'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="form-fa fa fa-question-circle-o fa-fw"></i> Your Questions</h4>
                    </div>
                    <div class="panel-body">
                        <uib-accordion ng-if="user.questions && user.questions.length > 0">
                            <div uib-accordion-group class="well well-sm content-shadow" is-open="question.IsOpened" ng-repeat="question in user.questions track by $index" style="margin-bottom: 0; border-color: transparent;">
                                <uib-accordion-heading >
                                    <div class="list-icon-content-item">
                                        <div class="media-left" >
                                            <img ng-src="{{question.img}}" class="item-img"/>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading media-heading-title" style="font-size: 16px;">{{question.content}}</h4>
                                        </div>
                                        <div class="media-right" >
                                            <i style="color: #2c3e50" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': question.IsOpened, 'glyphicon-chevron-right': !question.IsOpened}"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <ul class="list-group" >
                                    <li class="list-group-item">
                                        <i class="fa fa-calendar fa-fw"></i> <h4 style="display: inline; font-size: 15px;">{{question.date | amDateFormat: 'dddd, MMMM Do, YYYY h:mm a'}}</h4>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="fa fa-comments-o fa-fw"></span>  <h4 style="display: inline; font-size: 15px;">Answers: {{question.answers.length || 0}}</h4>
                                    </li>
                                </ul>
                            </div>
                        </uib-accordion>

                        <div class="well content-shadow" ng-if="!user.questions || !user.questions.length" style="border-color: transparent;">
                            <h4 class="text-center">No Questions to Display</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="form-fa fa fa-newspaper-o fa-fw"></i> Your Articles</h4>
                    </div>
                    <div class="panel-body" >
                        <div ng-if="user.articles && user.articles.length" id="article-dashboard" style="border: 0; border-radius: 0; padding: 15px;">
                            <div class="row row-horizon">
                                <div class="col-md-4 text-center" ng-repeat="article in user.articles track by $index">
                                    <div class="info-card">
                                        <div id="front">
                                            <div class="card-image-background">
                                                <img class="img-rounded card-img" ng-src="{{article.picture.url}}"
                                                     alt="{{article.title}}"/>
                                            </div>
                                            <ul class="list-group" style="padding: 10px;">
                                                <li class="list-group-item">
                                                    <span class="text-ellipsis">{{article.title}}</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <span am-time-ago="article.date"></span>
                                                </li>
                                                <li class="list-group-item">
                                                <span class="text-ellipsis">
                                                    <i class="fa fa-comments-o fa-fw"></i> Comments: {{article.comment.length || 0}}
                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="back">
                                            <div class="list-group">
                                                <div class="list-group-item offset-padding">
                                                    <ul class="list-inline">
                                                        <li>
                                                            Sports:
                                                        </li>
                                                        <li ng-repeat="sport in article.sports track by $index">
                                                            <span class="label label-primary">{{sport}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="list-group-item offset-padding">
                                                    <ul class="list-inline">
                                                        <li>
                                                            Teams:
                                                        </li>
                                                        <li ng-repeat="team in article.teams track by $index">
                                                            <span class="label label-primary">{{team}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="list-group-item">
                                                    <button type="button" class="btn btn-block btn-primary"
                                                            ui-sref="article({id: article._id})">Review
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="well content-shadow" style="margin: 15px;" ng-if="!user.articles || !user.articles.length">
                            <h4 class="text-center">No Articles to Display</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="modalEdit.html">
    <div class="modal-fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <h3 style="display: inline;" class="modal-title text-center">Edit Profile</h3>
            <a href="javascript:void(0)" style="color: #fff;" ng-click="cancel()" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="text-center" ng-show="!buttonClicked">
                    <ul class="list-inline">
                        <li>
                            <button type="button" class="btn btn-primary" ng-click="editPassword()">
                                <i class="btn3d-fa fa fa-lock fa-fw"></i> Change Password
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary" ng-click="editPicture()">
                                <i class="btn3d-fa fa fa-camera fa-fw"></i> Change Picture
                            </button>
                        </li>
                        <li>
                            <button type="button" class=" btn btn-primary" ng-click="manageSocial()">
                                <i class="btn3d-fa fa fa-facebook-square fa-fw"></i> Manage Social Accounts
                            </button>
                        </li>
                    </ul>
                </div>
                <form ng-hide="!passwordActive">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon primary" id="sizing-addon1"><i
                                    class="form-fa fa fa-lock"></i></span>
                            <input type="password" tabindex="2" name="password" class="form-control" id="password"
                                   placeholder="Current Password" ng-model="edit.currentpassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon primary" id="sizing-addon1"><i
                                    class="form-fa fa fa-lock"></i></span>
                            <input type="password" tabindex="2" name="password" class="form-control" id="password"
                                   placeholder="New Password" ng-model="edit.newpassword" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="list-inline">
                            <li>
                                <button type="submit" class="btn btn-primary" ng-click="submitPassword()">Submit
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="text-center" ng-hide="!socialActive">
                    <ul class="list-inline">
                        <li ng-show="user.facebook">
                            <button type="button" class="btn btn-danger" ng-click="unlink('facebook')">
                                Unlink Facebook <i class="fa fa-facebook fa-fw"></i>
                            </button>
                        </li>
                        <li ng-show="!user.facebook">
                            <button type="button" class="btn btn-social btn-facebook" ng-click="link('facebook')">
                                Link Facebook <i class="fa fa-facebook fa-fw"></i>
                            </button>
                        </li>
                        <li ng-show="user.twitter">
                            <button type="button" class="btn btn-danger" ng-click="unlink('twitter')">
                                Unlink Twitter <i class="fa fa-twitter fa-fw"></i>
                            </button>
                        </li>
                        <li ng-show="!user.facebook">
                            <button type="button" class="btn btn-social btn-twitter" ng-click="link('twitter')">
                                Link Twitter <i class="fa fa-twitter fa-fw"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="text-center" ng-hide="!pictureActive">
                    <img ng-src="{{user.picture}}" class="edit-picture avatar img-circle" alt="">
                    <h6>Update Profile Picture</h6>
                    <ul class="list-inline">
                        <li>
                            <button type="button" class="btn btn-primary" ng-click="submitPic()" id="filePickerBtn">
                                Upload
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    </div>
</script>
