<div class="container">
  <div class="col-md-3 col-xs-4">
    <div class="list-group">
      <div class="list-group-item media">
        <div class="media-left">
          <img class="media-object" src="./img/christmas.jpg" />
        </div>
        <div class="media-body">
          <div class="list">
            <div class="item">
              <span class="fa fa-user-o fa-fw"></span> <strong>Cody Cates</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Test
      </div>
      <div class="panel-body">
        Test
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Test
      </div>
      <div class="panel-body">
        Test
      </div>
    </div>
  </div>
</div>
