<script type="text/ng-template" id="questionMediaList.html">
  <li class="left clearfix " style="margin-right: 0px;">
    <span class="text-date pull-right">
      <i class="fa fa-calendar fa-fw"></i> {{question.date | amDateFormat: 'dddd, MMMM Do, h:mm a'}}
    </span>
    <span class="chat-img pull-left">
      <img ng-src="{{question.author.picture}}" alt="{{question.author.username}}" class="img-circle cimg" />
    </span>
    <div class="chat-body clearfix">
      <div class="header">
        <strong class="text-q">{{question.author.username}}</strong>
      </div>
      <p class="text-wrap question-p">
        {{question.content}}
      </p>
      <small class="pull-right text-muted">
        Answers: {{question.answers.length || 0}}
      </small>
    </div>
  </li>
</script>

<div class="container">
  <div ng-if="loading">
    <div class="loader"></div>
  </div>
  <div ng-if="!loading">
    <div class="row center-block text-center">
      <div class="board">
        <div class="board-inner">
          <ul class="nav nav-tabs custom-nav well-shadow">
            <div class="liner"></div>
            <li class="active">
              <a data-target="#all" data-toggle="tab" rel="tooltip" title="All Fantasy Sports">
                <span class="round-tabs primary">
                    ALL
                  </span>
              </a>
            </li>
            <li>
              <a data-target="#nba" data-toggle="tab" rel="tooltip" title="Fantasy Basketball">
                <span class="round-tabs primary">
                    <i class="fa ion-ios-basketball fa-2x nav-fa"></i>
                  </span>
              </a>
            </li>
            <li>
              <a data-target="#mlb" data-toggle="tab" rel="tooltip" title="Fantasy Baseball">
                <span class="round-tabs primary">
                    <i class="fa ion-ios-baseball fa-2x nav-fa"></i>
                  </span>
              </a>
            </li>
            <li>
              <a data-target="#nfl" data-toggle="tab" rel="tooltip" title="Fantasy Football">
                <span class="round-tabs primary">
                    <i class="fa ion-ios-americanfootball fa-2x nav-fa"></i>
                  </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-toggle="tab" rel="tooltip" title="Post New Question" ng-click="openQuestionModal()">
                <span class="round-tabs primary">
                    <i class="fa fa-plus fa-2x nav-fa"></i>
                  </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content clearfix" ng-hide="loading">
      <div class="tab-pane active" id="all">
        <div class="page-header card content-shadow" style="margin-top: 15px;">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">All Fantasy Sports</h2>
          </legend>
          <!--<div class="btn-group" role="group">
            <button class="btn btn-primary question-header" type="button" id="dfs1" name="selection" ng-click="dfs=false">
              General Fantasy
              <i class="form-fa fa fa-check fa-right fa-fw" id="fa1"></i>
            </button>
            <button class="btn btn-outline-primary question-header" type="button" id="dfs2" name="selection" ng-click="dfs=true">
              Daily Fantasy
              <i class="form-fa fa fa-check fa-right fa-fw hide" id="fa2"></i>
            </button>
          </div>-->
        </div>
        <div ng-if="!questions.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No questions have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="questions.length">
          <ul class="chat list-group">
            <a type="button" class="list-group-item" ui-sref="question({id: question._id})" ng-repeat="question in questions | orderBy:'-intdate' track by $index" id="question-list">
              <div ng-include="'questionMediaList.html'"></div>
            </a>
          </ul>
        </div>
      </div>
      <div class="tab-pane" id="nba">
          <div class="page-header card content-shadow" style="margin-top: 15px;">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">Fantasy Basketball</h2>
          </legend>
        </div>
        <div ng-if="!nba.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No questions have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="nba.length">
          <ul class="chat list-group">
            <a type="button" class="list-group-item" ui-sref="question({id: question._id})" ng-repeat="question in nba | orderBy:'-intdate' track by $index" id="question-list">
              <div ng-include="'questionMediaList.html'"></div>
            </a>
          </ul>
        </div>
      </div>
      <div class="tab-pane" id="mlb">
          <div class="page-header card content-shadow" style="margin-top: 15px;">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">Fantasy Baseball</h2>
          </legend>
        </div>
        <div ng-if="!mlb.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No questions have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="mlb.length">
          <ul class="chat list-group">
            <a type="button" class="list-group-item" ui-sref="question({id: question._id})" ng-repeat="question in mlb | orderBy:'-intdate' track by $index" id="question-list">
              <div ng-include="'questionMediaList.html'"></div>
            </a>
          </ul>
        </div>
      </div>
      <div class="tab-pane" id="nfl">
          <div class="page-header card content-shadow" style="margin-top: 15px;">
          <legend style="border-bottom: 0px;">
            <h2 class="text-center question-header">Fantasy Football</h2>
          </legend>
        </div>
        <div ng-if="!nfl.length">
          <div class="well" id="question-well">
            <div class="question-no-well well">
              <strong>No questions have been posted.</strong>
            </div>
          </div>
        </div>
        <div ng-if="nfl.length">
          <ul class="chat list-group">
            <a type="button" class="list-group-item" ui-sref="question({id: question._id})" ng-repeat="question in nfl | orderBy:'-intdate' track by $index" id="question-list">
              <div ng-include="'questionMediaList.html'"></div>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="questionModal.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">Fantasy Question Post:</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" method="post" name="questionForm">
            <div class="form-group">
                <label class="col-xs-12 text-left" style="font-size: 1.2em;"><i class="fa fa-question-circle"></i>
                    Insert Your Question Below:</label>
                <div class="col-xs-12">
                    <textarea draggable="false" class="form-control" rows="4" id="questionText"
                              ng-model="question.content" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 text-left" style="font-size: 1.2em;"><i class="fa ion-ios-baseball"></i> Select
                    a Sport:</label>
                <div class="col-xs-12">
                    <div isteven-multi-select selection-mode="single" input-model="categories" output-model="tagOutput"
                         helper-elements="all" button-label="icon name" item-label="icon name maker"
                         tick-property="ticked" id="select"
                         style="padding-left: 15px;" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 text-left" style="font-size: 1.2em;"><i class="fa ion-ios-baseball"></i> Select
                    a Category:</label>
                <div class="col-xs-12">
                    <div class="btn-group" role="group" style="padding-left: 15px;">
                        <button class="btn btn-primary" type="button" id="dfs1" ng-click="dfs=false">
                            General Fantasy
                            <i class="form-fa fa fa-check fa-right fa-fw" id="fa1"></i>
                        </button>
                        <button class="btn btn-outline-primary" type="button" id="dfs2" ng-click="dfs=true">
                            Daily Fantasy
                            <i class="form-fa fa fa-check fa-right fa-fw hide" id="fa2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <button type="button" ng-click="submit(question)" ng-disabled="questionForm.$invalid"
                        class="btn btn-info btn-block">
                    Submit
                </button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-danger btn-block" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script>
